<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
</head>
<body>
    <div class="error-container">
        <div class="error-title"><h1>🚫 <%= title %></h1></div>
        <div class="error-message"><p ><%= message %></p></div>
        
    </div>
</body>
</html>
