<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
    <link rel="stylesheet" href="registration.css">
</head>

<body>
    <!-- <h2>Personal Information:</h2> -->
    <h1 id="top_heading" class="container">Registration Details:</h1>
    <div class="container">
        <form method="POST">
            <div class="personal_details">
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="fullname" placeholder="Enter Your Full Name" required autofocus>
            <!-- first name middle name last name, all caps or small or random -->
        </div>
        
        
        <div class="personal_details">
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" placeholder="Enter your address here" required>
        </div>
        <div class="personal_details">
            <label for="pnumber">Phone Number:</label>
            <input type="tel" id="pnumber" name="phoneno." min="0" max="9" required>
            <!-- country code, number length & verification -->
        </div>
        <div class="personal_details">
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" required>
            <!-- validity & verification -->
        </div>
        <!-- <div class="personal_details">
            <label>Please select your Country:</label>
            <select id="country" name="country" required>
                <option value="nepal">Nepal</option>
                <option value="nepal">Malaysia</option>
                <option value="nepal">Japan</option>
                <option value="nepal">Singapore</option>
                <option value="nepal">Brazil</option>
                <option value="nepal">India</option>
                /* alphabetical order */
            </select>
        </div> -->
    <!-- </form> -->
    
    <!-- <h2>Account Details:</h2> -->
    <!-- <form method="POST"> -->
        <div class="personal_details">
            <label for="profile_picture">Please select a file for your profile picture:</label>
            <input type="file" id="profile_picture" name="profile_picture"> 
            <!-- .jpg or .png file -->
        </div>
        <div class="personal_details">
            <label for="usrname" >Username:</label>
            <input type="text" id="usrname" name="username" placeholder="Enter your Username here" required>
            <!-- validity, matching usernames -->
        </div>
        <div class="personal_details">
            <label for="pwd">Password:</label>
            <input type="password" id="pwd" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" placeholder="Enter your password here" required>
            <!-- general rules or patterns, show & hide option -->
        </div>
        <div class="personal_details">
            <label for="confirm_pwd">Confirm Password:</label>
            <input type="password" id="confirm_pwd" name="confirm_password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" placeholder="Enter your password here" required>
            <!-- general rules or patterns, show & hide option & check matching with the given password-->
        </div>
        <div class="personal_details">
            <input type="submit" name="submit">
            <!-- modified button or default form submit-->
            <input type="reset" name="reset">
        </div>
    </form>
</div>
    
</body>

</html>