<link rel="stylesheet" href="../public/css/stylesheet.css">
<form action="/users/signup" method="POST" name="auth">


    <h2>Sign up</h2>
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="email">Email</label>
    <input type="text" name="email">
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password">
    <div class="password error"></div>
    <label for="phone">Phone Number</label>
    <input type="number" name="phone">
    <label for="street">Street</label>
    <input type="text" name="street">
    <label for="zip">Zip</label>
    <input type="number" name="zip">
    <label for="city">City</label>
    <input type="text" name="city">
    <label for="country">Country</label>
    <input type="text" name="country">
    <button type="submit">Sign up</button>
  </form>
  
 